* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body {
    background-image: cover;
    background-color: gray;

}

img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    object-fit: cover;
    object-position: center;
}

h1 {
    color: rgb(0, 39, 6);
    font-size: 65px;
    text-align: center;
    font-family: cursive;
}

.form__class {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.login__form {
    width: 400px;
    text-align: center;
    position: relative;
    align-items: center;
    border-radius: 1rem;
    color: chocolate;
    backdrop-filter: blur(2.5rem);
    border: 2px solid;
    padding: 2.5rem 1rem;
}

#email,
#password {
    font-style: italic;
    font-weight: bolder;
    border: 12px;
    border-style: double;
    border-color: black;
    padding: 7px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    border-style: double;
    color: rgb(0, 39, 6);
    font-weight: bolder;
    margin-top: 15px 95px;
    background-color: rgb(237, 226, 241);
    width: 100px;
    font-size: large;
    font-family: cursive;
    padding-top: 2.5rem 0;

}

#email:hover,
#password:hover,
.login__forgot:hover,
.register:hover,
button:hover {
    background-color: chocolate;
}



.login__register,
.register,
.login__forgot,
.login__check-label {

    color: rgb(14, 14, 9);
    font-weight: bolder;
}